* {
    font-family: sans-serif;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
}

.AllWinesMain {
    display: grid;
    width: available;
    height: 1100px;
    background-image: url("images/sven-wilhelm-2cRXSWyMHA8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.mainHeader {
    margin-top: 2%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 2.3em;
}

.mainSubHeading {
    margin-left: 15%;
}

.allWinesList {
    margin-left: 60%;
    list-style-type: none;
}

.allWinesList a {
    text-decoration: none;
    font-size: 1.5em;
    color: brown;
    font-weight: bold;

}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
}

nav a {
    margin-right: 15%;
    color: bisque;
    font-size: 1.5em;
    font-weight: bold;
}

.AllRegionsMain {
    width: available;
    height: 650px;
    background-image: url("images/armando-castillejos-jiv4NngVq9U-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.regionsHeader {
    font-weight: bold;
}


.regionsList {
    margin-left: 15%;
    font-size: 1.5em;
    font-weight: bold;
    list-style-type: none;
}

.regionsList li {
    padding: 5px;
    color: blueviolet;
}

.singleRegionMain {
    width: available;
    height: 650px;
    background-image: url("images/luigi-pozzoli-dI8rfSEE-n0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.regionName {
    position: center;
    color: brown;
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
}

.singleWinePage {
    width: available;
    height: 650px;
    background-image: url("images/tetiana-shyshkina-MM1oGvPb2RI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.singleWineMain {
    height: 600px;
}

.wineName {
    margin-top: 5%;
    margin-left: 15%;
    color:darkblue;
    font-size: 2em;
    font-weight: bold;
}

.WineReviewsList {
    margin-left: 20%;
    color: darkblue;
    font-size: 1.2em;
    list-style-type: none;
}
footer {
    color: brown;
    text-align: center;
}
