<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wines in region</title>
    <link th:href="@{/mainLayout.css}" rel="stylesheet" >
</head>
<nav class="regionsNavBar">
    <a href="/regions">Return To Featured Regions</a>
</nav>

<body>
<main class="singleRegionMain">

<h2 class="regionName" th:text="${singleRegion.region}"></h2>

<ul>
    <li class="regionsList" th:each="wine:${singleRegion.wines}"><a th:href="@{'/wines/' + ${wine.name}}"
                                   th:text="${wine.name}">Wine</a>
</ul>

</main>

<footer>
    <p>&copy wcci- Fall 2020- The Greatest Cohort In History</p>
</footer>
</body>
</html>